<div class="catalog">
    <h1>PokeLens</h1>

<!--     SEARCH BAR -->
    <div class="search-section">
        <app-search-bar placeholder="Buscar pokemon... " (searchUpdate)="onSearch($event)" ></app-search-bar>
    </div>




    @if(isLoading()){
    <p>Cargando Pokemons...</p>
    }@else {
    <div class="grid">
        @for (pokemonResource of displayedPokemon(); track pokemonResource){
        <app-pokemon-card [pokemonResource]="pokemonResource" (click)="navigateToDetails(pokemonResource.name)"></app-pokemon-card>
        <!-- passes a namedAPIResource with name and url of each pokemon-->
        }

        @if (pagination.loading()) {
            <div class="loading">Cargando mas Pokemon...</div>
        }
    </div>

}
    <div #scrollSentinel class="scroll-sentine"></div>
</div>