<div class="catalog">
    <h1>PokeLens</h1>

<!--     SEARCH BAR -->
    <div class="search-section">
        <app-search-bar placeholder="Buscar pokemon..."></app-search-bar>
    </div>



    @if(isLoading()){
    <p>Cargando Pokemons...</p>
    }@else {
    <div class="grid">
        @for (pokemonResource of loadedPokemon(); track pokemonResource){
        <app-pokemon-card [pokemonResource]="pokemonResource"></app-pokemon-card>
        <!-- passes a namedAPIResource with name and url of each pokemon-->
        }
    </div>

    <!-- Sentinel element for infinite scroll -->
    @if (hasMore()){
    <div #scrollSentinel class="scroll-sentinel">
        @if(isLoadingMore()){
        <p>Cargando más Pokemons...</p>
        }
    </div>
    }
}
</div>