<div class="auth-wrap">

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="field">
      <label>Username</label>
      <input class="inp" formControlName="username" placeholder="ej: ash" />
      @if (form.controls.username.touched && form.controls.username.invalid) {
      <small class="err">Username requerido</small>
      }
    </div>

    <div class="field">
      <label>Email</label>
      <input class="inp" formControlName="mail" placeholder="ej: ash@mail.com" />
      @if (form.controls.mail.touched && form.controls.mail.invalid) {
      <small class="err">Email inválido</small>
      }
    </div>

    <div class="field">
      <label>Fecha de nacimiento</label>
      <input class="inp" type="date" formControlName="birthDate" />
      @if (form.controls.birthDate.touched && form.controls.birthDate.invalid) {
      <small class="err">Fecha requerida</small>
      }
    </div>

    <div class="field">
      <label>Contraseña</label>
      <input class="inp" type="password" formControlName="password" placeholder="••••••••" />
      @if (form.controls.password.touched && form.controls.password.invalid) {
      <small class="err">
        @if (form.controls.password.errors?.['minlength']) {
        Mínimo 6 caracteres
        } @else {
        Contraseña requerida
        }
      </small>
      }
    </div>

    <div class="field">
      <label>Repetir contraseña</label>
      <input class="inp" type="password" formControlName="confirmPassword" placeholder="••••••••" />
      @if (form.controls.confirmPassword.touched && form.controls.confirmPassword.invalid) {
      <small class="err">Repetí la contraseña</small>
      }
      @if ((form.controls.confirmPassword.touched || form.controls.password.touched) && passwordsMismatch) {
      <small class="err">Las contraseñas no coinciden</small>
      }
    </div>

    <div class="actions">
      <button class="btn-signIn" type="submit" [disabled]="loading()">
        @if (loading()) { Creando... } @else { Crear cuenta }
      </button>
    </div>

  </form>
</div>