<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label for="username">Nombre y Apellido</label>
    <input type="text" id="username" formControlName="username" placeholder="Ash Ketchum">
    @if (form.get('username')?.invalid && form.get('username')?.touched) {
      <small>El nombre es requerido</small>
    }
  </div>

  <div class="form-field">
    <label for="age">Edad</label>
    <input type="number" id="age" formControlName="age" min="10" placeholder="25">
    @if (form.get('age')?.invalid && form.get('age')?.touched) {
      <small>La edad es requerida</small>
    }
  </div>

  <div class="form-field">
    <label for="mail">E-Mail</label>
    <input type="email" id="mail" formControlName="mail" placeholder="ejemplo@mail.com">
    @if (form.get('email')?.invalid && form.get('email')?.touched) {
      <small>El e-mail es requerido</small>
    }
  </div>

  <div class="form-field">
    <label for="password">Contraseña</label>
    <input type="password" id="password" formControlName="password" placeholder="password" required="">
    @if (form.get('password')?.invalid && form.get('password')?.touched) {
      <small>La contraseña es requerida</small>
    }
  </div>

  <button class="btn-signIn" type="submit">Registrarse</button>
  <button class="btn-signIn" type="reset">Borrar campos</button>

</form>
