<div class="catalog">

  <div class="center">
    <h1>Catalogo Pokemon</h1>
    <app-search-bar placeholder="Buscar pokemon..." (searchUpdate)="onSearch($event)">
    </app-search-bar>


  </div>

  <div class="search-section">
    <app-pokemon-filter-dropdown [currentFilters]="filters()" (filterUpdate)="applyFilters($event)">
    </app-pokemon-filter-dropdown>

    <pokemon-sort-menu [currentSort]="sort()" (sorted)="onSort($event)"></pokemon-sort-menu>
  </div>

  <div class="grid">
    @for (pokemon of pokemons(); track pokemon.id){
    <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
    }
    @if (isLoading()) {
    <div class="loading">Cargando mas Pokemon...</div>
    }
  </div>

  <div #scrollSentinel class="scroll-sentinel"></div>

</div>
