<div class="collections-page">

  <div class="header-row">
    <h2>Mis equipos</h2>
    <button class="btn" (click)="backToProfile()">Volver al perfil</button>
  </div>

  @if (usuario(); as u) {

  @if (collections().length) {

  @for (col of collections(); let i = $index; track i) {

  <section class="collection-block">
    <div class="collection-header">

      <!-- Nombre editable -->
      @if (editingIndex() === i) {
      <input class="collection-name-input" type="text" [ngModel]="editingName()"
        (ngModelChange)="editingName.set($event)" (blur)="saveCollectionName(i)" (keyup.enter)="saveCollectionName(i)"
        autofocus />
      } @else {
      <h3 class="collection-title" (click)="startEditingName(i)">
        {{ getCollectionName(i) }}
      </h3>
      }

      <p class="avg-power">
        <strong>Poder promedio:</strong>
        {{ collectionAverages()[i] || 0 }}
      </p>

      <p class="team-length">
        <strong>{{col.length}}/6</strong>
      </p>

      <button class="btn-delete-collection" (click)="deleteCollection(i)" title="Eliminar equipo completa">
        Eliminar equipo
      </button>
    </div>

    <div class="collection-scroll">
      @if (col.length === 0) {
      <div class="empty-collection-card">
        <button class="empty-collection-card big-empty-btn" (click)="goToCatalog()">
          <p><strong>Esta colección está vacía.</strong></p>
          <p>Agregá Pokémon para verlos aquí.</p>
        </button>

      </div>
      }
      <div class="vault-grid">

        @if(col.length>0){
        @for (entry of col; track entry.arrayId) {

        @if (pkmList.getPokemonFromMemory(entry.idPokemon); as pkm) {

<div class="vault-card-wrapper">
  <!-- Botón eliminar con cruz -->
  <button
    class="pokeball-btn"
    (click)="deletePokemon(i, entry.arrayId!)"
    title="Quitar Pokémon del equipo"
    aria-label="Eliminar Pokémon">
  </button>

  <!-- Botón editar nickname -->
  <button
    class="edit-nickname-btn"
    title="Editar apodo"
    (click)="editNickname(i, entry.arrayId!)"
    aria-label="Editar apodo">
    ✎
  </button>

  <app-pokemon-card [pokemon]="pkm" [nickname]="entry.nickname!"></app-pokemon-card>
</div>
        }
        }
      }
      </div>
    </div>
  </section>
  }
  } @else {
  <p>No hay equipos guardadas...</p>
  }

  } @else {
  <p>No hay usuario activo. Iniciá sesión.</p>
  }

</div>
